/* Author: Enam Ahmed Shahaz */

* {
    margin: 0px;
    padding: 5px;
}

.btn-primary {
    background-color: #333333;
    color: white;
    font-size: 20px;
    height: 55px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-generate {
    width: 180px;
    height: 75px;
    background-color: #007bff;
    margin-bottom: 20px;
}

.btn-clear {
    background-color: #f0ad4e;
}

.btn-delete {
    background-color: #d9534f;
}

.btn-submit {
    background-color: #5cb85c;
}

.number-box {
    background-color: #333333;
    border-radius: 5px;
    border: 10px;
    border-color: white;
    font-size: 40px;
    color: white;
    width: 180px;
    height: 60px;
    text-align: center;
}

.generate-section {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0px 0px 8px;
}

.input-match-section {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 0px 8px 8px 0px;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.text-primary {
    color: white;
    text-align: center;
}

.btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.result-right {
    color: rgb(111, 247, 111);
}

.result-wrong {
    color: red;
}

footer {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

footer hr {
    border-top: 1px solid rgb(225, 220, 210);
}

/* footer p {
    font-size: 10px;
    margin-top: 5px;
    color: darkgrey;
} */

.text-primary {
    margin-bottom: 20px;
}

/* css rules for small screen devices */
@media screen and (max-width: 600px) {

    .main-container {
        grid-template-columns: 1fr;
        row-gap: 5px;
    }

    .btn-container {
        grid-template-columns: 1fr 1fr;
    }

    .generate-section {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .input-match-section {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .generate-section {
        border-radius: 8px 8px 0px 0px;
    }

    .input-match-section {
        border-radius: 0px 0px 8px 8px;
    }
}